.header {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    min-width: 320px;
    max-width: 480px;
    width: 30%;
    z-index: 2;

    img {
        width: 100%;
    }

    .tweet {
        position: absolute;
        top: 32%;
        width: 77%;
        margin-left: 12%;

        color: $white;
        font-family: Fishmonger;
        font-size: $font-s;
        text-transform: uppercase;
    }
}
