.product-elements {

    .product-info {
        position: absolute;
        bottom: 20%;
        left: 10%;
        width: 250px;
        z-index: 2;
        text-transform: uppercase;
        font-family: Fishmonger;

        h1 {
            font-size: $font-m;
            color: $deep-blue;
        }

        h2 {
            font-size: $font-l;
            color: $white;

            .highlight {
                color: $red;
            }
        }

        h3 {
            font-size: $font-s;
            color: $white;
        }

        h4 {
            font-size: $font-s;
            background-color: $deeper-blue;
            color: $gray;
            display: inline-flex;
            align-items: center;
            border-radius: 8px;
            padding-top: 2px;
            padding-left: 10px;
            padding-right: 5px;
            img {
                padding: 5px;
            }
            .close {
                margin-left: 5px;
                margin-top: 3px;
                margin-bottom: 5px;
                color: $light-blue;
                border: 2px solid $light-blue;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                .arr {
                    text-align: center;
                    line-height: 1.7em;
                }
            }
        }
    }

    .product-pic {
        position: absolute;
        top: 5%;
        left: 35%;
    }

    .product-logo {
        position: absolute;
        top: 5%;
        left: 60%;
    }

    .product-nutrimental {
        position: absolute;
        z-index: 4;
        top: 40%;
        left: 60%;
        width: 350px;
        height: 300px;
        background: rgba(0,0,0, 0.9);
        border-radius: 10px;
        padding: 10px;

        .close {
            position: absolute;
            top: 2%;
            right: 2%;
            color: $white;
            border: 2px solid $white;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            .ecs {
                text-align: center;
                line-height: 2em;
            }
        }

        h1 {
            color: $white;
            font-family: Fishmonger;
            text-transform: uppercase;
            font-size: $font-l;
            margin: 0;
        }
        h2 {
            color: $white;
            font-family: Fishmonger;
            text-transform: uppercase;
            font-size: $font-s;
            margin: 0;
        }
        h3 {
            color: $black;
            background: $white;
            border-radius: 5px;
            font-family: Fishmonger;
            text-transform: uppercase;
            font-size: $font-s;
            padding: 5px;
            display: inline-block;
        }
        .items {
            .item-row {
                font-family: Fishmonger;
                text-transform: uppercase;
                font-size: $font-s;

                .left {
                    display: inline-block;
                    color: $white;
                    width: 60%;
                }
                .right {
                    display: inline-block;
                    color: $light-blue;
                }
            }
        }
    }

}
