@import "include-media";

@font-face {
    font-family: Fishmonger; src: url('../fonts/Fishmonger EEB Plain.otf');
}

$font-l: 175%;
$font-m: 100%;
$font-s: 75%;
$font-xs: 50%;

$light-blue: #1897D4;
$blue: #2A74B5;
$deep-blue : #102B52;
$deeper-blue: #031422;
$black: #000000;
$white: #FFFFFF;
$gray: #555555;
$red: #DD2340;

html {

    body {

        margin: 0;
        padding: 0;

        .not-supported {
            display: none;
            z-index: 10;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $white;

            @include media('>=tablet', '<desktop', 'portrait') {
                display: initial;
            }

            @include media('>=phone', '<tablet', 'landscape') {
                display: initial;
            }
        }

        .nestle {

            z-index: 1;

            @import "background";
            @import "sidebar";
            @import "product";
            @import "header";
            @import "contact";
            @import "logo";
            @import "controls";
            @import "footer";
            @import "product-menu";
            @import "infotext";
            @import "bgcontrol";

        }

        @import "mobile";

    }
}

@import "animations";
