<div class="operator" ng-controller="OperatorController as operator">

    <nestle-background></nestle-background>

    <nestle-header ng-show="operator.showHeader"></nestle-header>

    <nestle-logo ng-show="operator.showLogo"></nestle-logo>

    <!-- <nestle-product-menu></nestle-product-menu> -->
    <div class="top-menu">
        <img src="img/menu-icon.png" />
    </div>

    <nestle-sidebar ng-show="operator.showSidebar"></nestle-sidebar>

    <nestle-infotext ng-show="operator.showInfotext"></nestle-infotext>

    <nestle-contact ng-class="(operator.showContact ? 'active' : '')"></nestle-contact>

    <nestle-footer></nestle-footer>

</div>
