<div class="mobile">

    <div class="top-bar">
        <img src="img/mobile-bg-top.png" />
    </div>

    <div class="logo">
        <img src="img/logo.png" />
    </div>

    <div class="middle">
        <img src="img/mobile-bg-middle.png" />
    </div>

    <div class="bottom-bar">
        <img src="img/mobile-bg-bottom.png" />
    </div>

    <div class="products-container">
        <div class="products">
            <div class="product">
                <img src="img/helado_01.png" />
                <p>Crunch</p>
            </div>
            <div class="product">
                <img src="img/helado_02.png" />
                <p>Tandem</p>
            </div>
            <div class="product">
                <img src="img/helado_03.png" />
                <p>Popsicle</p>
            </div>
            <div class="product">
                <img src="img/helado_04.png" />
                <p>Guapaleta</p>
            </div>
            <div class="product">
                <img src="img/helado_05.png" />
                <p>Pelapop</p>
            </div>
            <div class="product">
                <img src="img/helado_06.png" />
            </div>
            <div class="product">
                <img src="img/helado_07.png" />
            </div>
            <div class="product">
                <img src="img/helado_08.png" />
            </div>
            <div class="product">
                <img src="img/helado_09.png" />
            </div>
            <div class="product">
                <img src="img/helado_10.png" />
            </div>
        </div>
    </div>

    <div class="footer">
        <img src="img/mobile-bg-footer.png" />
    </div>

</div>
