<div class="mobile">

    <div class="top-bar">
        <img src="img/mobile-bg-top.png" />
    </div>

    <div class="logo">
        <img src="img/logo.png" />
    </div>

    <!-- <div class="middle">
        <img src="img/mobile-bg-middle.png" />
    </div> -->

    <div class="content">
        <div class="product-zoom">
            <img class="bg-img" src="img/mobile-product-bg.png" />
            <img class="product-img" srcset="img/mobile-paleta.png 2x" />
            <img class="arrow-left" srcset="img/mobile-arrow-left.png 2x" />
            <img class="arrow-right" srcset="img/mobile-arrow-right.png 2x" />
            <h1>Sabor que<br><span>te sorprenderá</span></h1>
            <h2>Paleta helada de grasa vegetal sabor a vainilla y fresa, con cobertura sabor a chocolate</h2>
        </div>
        <div class="product-detail">
            <div class="some-link">
                <p>Ir al micrositio</p><img srcset="img/mobile-red-arrow.png 2x" />
            </div>
            <div class="product-title">
                <img srcset="img/mobile-product.png 2x" />
            </div>
            <div class="product-flavors">
                <div class="flavor">
                    <img src="img/flavor-1.png" />
                    <p>Cobertura sabor chocolate</p>
                </div>
                <div class="flavor">
                    <img src="img/flavor-2.png" />
                    <p>Helado sabor vainilla y fresa</p>
                </div>
                <div class="flavor">
                    <img src="img/flavor-3.png" />
                    <p>Base de helado sabor fresa</p>
                </div>
            </div>
        </div>
    </div>

    <div class="top-bar">
        <img src="img/mobile-bg-top.png" />
        <p>Información nutrimental</p>
    </div>

    <div class="bottom-bar">
        <img src="img/mobile-bg-bottom.png" />
    </div>

    <!-- <div class="products-container">
        <div class="products">
            <div class="product">
                <img src="img/helado_01.png" />
                <p>Crunch</p>
            </div>
            <div class="product">
                <img src="img/helado_02.png" />
                <p>Tandem</p>
            </div>
            <div class="product">
                <img src="img/helado_03.png" />
                <p>Popsicle</p>
            </div>
            <div class="product">
                <img src="img/helado_04.png" />
                <p>Guapaleta</p>
            </div>
            <div class="product">
                <img src="img/helado_05.png" />
                <p>Pelapop</p>
            </div>
            <div class="product">
                <img src="img/helado_06.png" />
            </div>
            <div class="product">
                <img src="img/helado_07.png" />
            </div>
            <div class="product">
                <img src="img/helado_08.png" />
            </div>
            <div class="product">
                <img src="img/helado_09.png" />
            </div>
            <div class="product">
                <img src="img/helado_10.png" />
            </div>
        </div>
    </div> -->

    <div class="footer">
        <img src="img/mobile-bg-footer.png" />
    </div>

</div>
