<div class="mobile" ng-controller="HomeController as home">

    <div class="top-bar">
        <img class="top-bg" src="img/mobile-bg-top.png" />
        <div class="menu-icon" ng-click="home.toggleMobileMenu()">☰</div>
    </div>

    <div class="mobile-menu" ng-class="( home.showMobileMenu ? 'active' : '' )">
        <img class="mobile-menu-bg" src="img/mobile-menu-bg.png" />
        <div class="categories">
            <ul>
                <li ng-repeat="category in home.categories">
                    <div class="color-code" style="background: {{ category.color }}"></div>
                    <p class="cat-name">{{ category.name }}</p>
                    <div class="arrow">></div>
                </li>
            </ul>
        </div>
        <div class="menu-footer">
            <div class="left">
                <p class="socialtext">Síguenos en <img src="img/fb.png" /><img src="img/tw.png" /></p>
                <p class="normaltext">Política de privacidad</p>
            </div>
            <div class="right">
                <p class="legaltext">Helados Nestlé ® México, 2016</p>
                <p class="normaltext">Contactanos</p>
            </div>
        </div>
        <p></p>
    </div>

    <div class="logo">
        <img src="img/logo.png" />
    </div>

    <div class="slider">
        <div class="slide">
            <img class="slide-bg" src="img/mobile-bg-middle.png" />
            <img class="slide-product" srcset="img/mobile-product.png 2x" />
            <img class="slide-logo" srcset="img/mobile-crunch-logo.png 2x" />
            <p class="slide-infotext"><span class="infotext-highlight">Dale Crunch</span> a tu antojo</p>
        </div>
        <div class="bullets">
            <img class="bullet" src="img/bullet.png" />
            <img class="bullet" src="img/bullet.png" />
            <img class="bullet" src="img/bullet.png" />
        </div>
    </div>

    <div class="bottom-bar">
        <img src="img/mobile-bg-bottom.png" />
    </div>

    <div class="products-container">
        <div class="products">
            <div class="product">
                <img src="img/helado_01.png" />
                <p>Crunch</p>
            </div>
            <div class="product">
                <img src="img/helado_02.png" />
                <p>Tandem</p>
            </div>
            <div class="product">
                <img src="img/helado_03.png" />
                <p>Popsicle</p>
            </div>
            <div class="product">
                <img src="img/helado_04.png" />
                <p>Guapaleta</p>
            </div>
            <div class="product">
                <img src="img/helado_05.png" />
                <p>Pelapop</p>
            </div>
            <div class="product">
                <img src="img/helado_06.png" />
            </div>
            <div class="product">
                <img src="img/helado_07.png" />
            </div>
            <div class="product">
                <img src="img/helado_08.png" />
            </div>
            <div class="product">
                <img src="img/helado_09.png" />
            </div>
            <div class="product">
                <img src="img/helado_10.png" />
            </div>
        </div>
    </div>

    <div class="footer">
        <img src="img/mobile-bg-footer.png" />
    </div>

</div>
