<div class="contact-box">
    <h1>
        Queremos escucharte
    </h1>
    <h2>
        Para Helados Nestlé, tu opinión es muy valiosa
    </h2>
    <h3>
        Compártenos tus comentarios y con gusto un ejecutivo se comunicará contigo para atender tus dudas y peticiones.
    </h3>
    <h4>
        Comentarios de nuestros productos
    </h4>
    <h5>
        5267.3303<br>
        Lada sin costo: 01800.363.7853
    </h5>
    <hr>
    <h4>
        ¿Tienes problemas con tu congelador?
    </h4>
    <h5>
        Lada sin costo: 01800.147.7474
    </h5>
</div>
