<div class="footer">
    <img class="footer-bg" src="img/footer.png" />
    <div class="columnas">
        <div class="left">
            <p class="brand">Helados Nestlé, México © 2015</p>
            <div class="lower">
                <p class="legal">Aviso legal</p><p class="contact" ng-click="home.toggleContact()">Contáctanos</p>
            </div>
        </div>
        <div class="right">
            <p>Síguenos en &nbsp;</p>
            <img src="img/fb.png" /><img src="img/tw.png" />
        </div>
    </div>
</div>
