<div class="product-elements">

    <div class="product-bg">
        <img src="img/bg-product.png" />
    </div>

    <div class="product-infotext">
        <h1>Danesa 33 ® Banana Split Heaven</h1>
        <h2>Delicioso y <span class="highlight">sorprendente</span></h2>
        <h3>Helado de grasa vegetal sabor a chocolate, plátano y fresa, con jarabe sabor a chocolate.</h3>
        <h4 ng-click="home.toggleNutrimental()">
            <span>Información Nutrimental</span>
            <div class="close">
                <div class="arr">></div>
            </div>
        </h4>
    </div>

    <div class="product-pic">
        <img src="img/product.png" />
    </div>

    <div class="product-logo">
        <img src="img/product-logo.png" />
    </div>

    <div class="product-nutrimental" ng-show="home.showNutrimental">
        <div class="close">
            <div class="ecs">✖</div>
        </div>
        <h1>Tandem Sandwich ®</h1>
        <h2>Tamaño de porción 160 ml</h2>
        <h3>Contenido energético 1202 kj - 287 kcal</h3>
        <div class="items">
            <div class="item-row">
                <div class="left">Proteínas</div>
                <div class="right">2,55 g</div>
            </div>
            <div class="item-row">
                <div class="left">Sodio</div>
                <div class="right">155,9 mg</div>
            </div>
        </div>
    </div>

</div>
