<div class="nestle" ng-controller="HomeController as home">

    <nestle-product></nestle-product>

    <nestle-product-control></nestle-product-control>

    <nestle-logo ng-show="home.showLogo"></nestle-logo>

    <nestle-product-menu ng-class="(home.showProductMenu ? 'active' : '')"></nestle-product-menu>

    <nestle-sidebar ng-show="home.showSidebar"></nestle-sidebar>

    <nestle-contact ng-class="(home.showContact ? 'active' : '')"></nestle-contact>

    <nestle-footer></nestle-footer>

    </div>

</div>
